.filter-form {
  max-width: 600px;
  .input-field {
    width:50%;
    float: left;
    padding:0 10px;
  }
  .btn-filter {
    margin:0 0 20px 10px;
    background-color: #0074aa;
    color:#fff;
    border:0;
  }
}