.dataview {
  table.basic {
    border-collapse: collapse;
    td,th {
      border:1px solid #aaa;
      padding:7px;
      a.btn-action {
        display:inline-block;
        font-weight: normal;
        padding:3px 10px;
        margin:3px;
      }
    }
  }
}
.delete-message {
  display: block;
  color:red;
  text-align: center;
  font-weight:bold;
  margin:20px;
}