.dataview {
  table.basic {
    border-collapse: collapse;
    td,th {
      border:1px solid #aaa;
      padding:7px;
      a.btn-action {
        padding:5px 20px;
      }
    }
  }
}
.delete-message {
  display: block;
  color:red;
  text-align: center;
  font-weight:bold;
  margin:20px;
}